.form__title {
  color: $secondary-text-color;
  @include font(null, 20px, 1.5, 0.03em);

  margin-bottom: 12px;

  text-align: center;

  @media screen and (min-width: 1200px) {
    @include font(null, 20px, 1.15, 0.03em);
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  &--distance {
    margin-bottom: 20px;
  }
}

.form__label {
  color: $primary-text-color;
  @include font(null, 12px, 1.17, 0.01em);

  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;

  border: 1px solid $border-color;
  border-radius: 4px;

  padding-right: 11px;
  padding-left: 42px;

  transition: border-color $transition;

  &:hover + svg {
    fill: $accent-color;
  }

  &:hover {
    border: 1px solid $accent-color;
  }

  .form__field:focus-within & {
    outline: none;
    border-color: $accent-color;
  }
}

.form__icon {
  position: absolute;
  bottom: 10px;
  left: 11px;

  fill: $secondary-text-color;
  transition: fill $transition;

  .form__field:focus-within & {
    fill: $accent-color;
  }
}

.form__textarea {
  width: 100%;
  height: 120px;

  border: 1px solid $border-color;
  border-radius: 4px;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  transition: border-color $transition;

  &::placeholder {
    color: $textarea-color;
    font-family: inherit;
    @include font(400, 14px, 1.14, 0.01em);

    @media screen and (min-width: 1200px) {
      @include font(400, 12px, 1.17, 0.01em);
    }
  }

  .form__field:focus-within & {
    outline: none;
    border-color: $accent-color;
  }
  &:hover {
    border: 1px solid $accent-color;
  }
}

.form__button {
  display: block;

  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;

  margin-left: auto;
  margin-right: auto;

  &:hover {
    background-color: $hover-btn;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
