.portfolio__card-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.product-card {
  width: 100%;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__content {
    flex-grow: 1;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }

  &__name {
    color: $secondary-text-color;
    @include font(null, 18px, 2, 0.06em);
    text-align: left;

    margin-bottom: 4px;
  }

  &__description {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.product-card__link {
  transition: box-shadow $transition;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;

  color: $white-color;
  background-color: $card-overlay;
  @include font(null, 18px, 1.56, 0.03em);
  height: 100%;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  transform: translatey(101%);
  transition: transform $transition;

  .product-card__link:hover &,
  .product-card__link:focus & {
    transform: translatey(0);
  }
}
