.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    color: $secondary-text-color;
    @include font(null, 28px, 1.18, 0.03em);
    text-align: center;

    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      @include font(null, 36px, 1.17, 0.03em);
      margin-bottom: 50px;
    }
  }
}
